$primary-dark-blue: #21263c;
$secondary-dark-blue: #272c3e;
$dark-blue: #313647;
$blue: #383a4c;
$light-blue: #3164cc;
$primary-grey: #555564;
$secondary-grey: #3c4054;
$dark-grey: #454857;
$secondary-grey: #a3a5ac;
$grey: #bbbcc0;
$light-grey: #e5e5e7;
$lightest-grey: #f5f5f5;
$purple: #cf03fc;
$red: #d25567;
$yellow: #ffc516;
$green: #50ce99;
