@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v110/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1n-q_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

$font-inter: 'Inter', sans-serif;
$font-w-m-d: 'Wix Madefor Display', sans-serif;
$default-font-size: 14px;
$default-font-weight: 400;
$bold-font-weight: 600;
$default-font-color: $secondary-grey;