.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup {
  padding: 20px;
  background-color: $lightest-grey;
  border-radius: 5px;
  width: 400px;
  text-align: center;
  position: relative;
  h2 {
    color: $dark-blue;
  }
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  border: none;
  background: transparent;
}
